
// МИКСИН @include desktop {] АНАЛОГИЧЕН СВОЙСТВУ 
// @media screen and (max-width: 1200px){}


.main {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  left: 50%;
  transform: translateX(-50%);
}

.header {
  background: $white;
  z-index: 10;   
  top: 0; 
  display: flex;
  justify-content: center;
  height: 97px;
  width: 100%;
  .container {
    
    display: flex;
    justify-content: space-between;
    
  }
  @include desktop-l {
    height: 87px;
  }
  @include desktop-m {
    height: 77px;
  }

  &__caption {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    color: $gray;
    flex-basis: 100%;

    @include desktop-l {
      font-size: 16px;
    }
    @include desktop-l {
      font-size: 13px;
    }
  }
  &__wrapper {
    padding: 17px 47px 17px 47px;    
    width: 100%;
    height: 100%;
    flex-wrap: wrap;

    @include desktop-l {
      padding: 14px 37px 14px 37px;  
    }
    @include desktop-m {
      padding: 14px;
    }
    @include desktop-s {
      background-color: $white;
      margin-top: 60px;
      min-height: 350px;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    position: relative;
    width: 100%;

  } 
  &__menu2 {
    border: none;
    border-radius: 0 0 28px 28px;
    width: 100%;
    z-index: 3;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 0 42px 10px;

    @include desktop-s {
      padding: 0 10 10px; 
    }
  }

  &__link {
    font-weight: bold;
    font-size: 15px;
    line-height: 17px;
    white-space: nowrap;
    a {
      text-decoration: none;
      color: $black;
      text-transform: none;
    }
    &-active {
      a {
        color: $red;
      }
    }
    @include desktop-l {
      font-size: 14px;
    }
    @include desktop-m {
      font-size: 12px;
    }
  }
  &__link2 {
    padding: 16px 0;
    border-bottom: 1px solid $menu-gray;
    font-size: 20px;
    cursor: pointer;
    a {
      transition: all .4s;
      background: transparent;
      &:hover {
      color: $red;
      background: transparent;
      }
    }
    
    
    @include desktop-l {
      font-size: 16px;
    }
    @include desktop-m {
      font-size: 14px;
    }
    @include desktop-s {
      padding: 6px 0;
    }
    &:last-child {
      border: none;
      padding-right: 21px;
    }
  }
  
  &__logo {
    display: block;
    img {
      display: block;
      height: 100%;
      width: 177px;
      object-fit: cover;
      margin: 0;
    }
    @include desktop-l {
      img {
        width: 120px;
      }
    }
    @include desktop-m {
      img {
        width: 100px;
      }
    }
    @include desktop-s {
      position: absolute;
      right: 0;
      top: 0;
      img {
        width: 137px;
      }
    }
  }
  
  &__menu3 {
    list-style-type: none;
    font-weight: normal;
    width: 100%;
    padding: 0;
    display: none;
    position: static !important;
    border: none;
    li a {
    display: block;
    }

  }
  &__link3 {
    padding: 16px 0 16px 30px;
    border-bottom: 1px solid $menu-gray;
    font-size: 20px;
    cursor: pointer;
    transition: all .4s;
    a {
      background: transparent;
      transition: all .4s;
      &:hover {
      color: $red;
      background: transparent;
      }
    }
    &:first-child {
      border-top: 1px solid $menu-gray;
      margin-top: 16px;
    }
    &:last-child {
      border: none;
      padding-right: 21px;
    }
    @include desktop-l {
      font-size: 16px;
    }
    @include desktop-m {
      font-size: 14px;
    }
    @include desktop-s {
      padding: 6px 0;
    }

  }
  &__lastToggle {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 13px;
      width: 13px;
      top: 50%; 
      transform: translateY(-50%);
      left: 9em;
      background: url(../img/icons/Arrow-down.svg) center/cover;
    }
    &-revert {
      &::after {
        background: url(../img/icons/Arrow-up.svg) center/cover;
      }
    }
  }
  &__searchForm {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    @include desktop-l {
      width: 100px;
    }
    @include desktop-m {
      width: 80px;
      img {
        width: 25px;
        height: 25px;

      }
    }
    @include desktop-s {
      display: none;
    }
  }

  &__form {
    input {
      width: 380px;
      height: 48px;
      border-radius: 4px;
      border: 1px solid $border-gray;
      padding: 10px 20px;
      font-size: 19px;
    }
    button {
      background: $cold-gray;
      border: none;
      width: 100px;
      height: 48px;
      margin-left: 20px;
      border-radius: 6px;
      color: $light-gray;
      font-size: 19px;
      transition: all .4s;
      &:hover {
        background-color: $dark-gray;
      }
    }
  }
  
  &__overlay {
    display: none; 
    position: fixed; 
    z-index: 999; 
    opacity: 0.5; 
    filter: alpha(opacity=50); 
    top: 0; 
    right: 0; 
    left: 0; 
    bottom: 0;
    background: $black; 
    transition: all .6s;
  }
  &__popup {
    display: none; 
    position: fixed; 
    background: $white; 
    width: 600px; 
    height: 90px; 
    top: 35%; 
    right: 7%;
    margin: -100px 0 0 -100px; 
    z-index: 1000;  
    border-radius: 10px; 
    padding: 20px 30px;
    transition: all .6s;
  }
  &__close {
    cursor:  pointer;
    display: block; 
    width: 24px; 
    height: 24px; 
    position: absolute; 
    top: 10px; 
    right: 10px; 
    background: url(../img/icons/close.svg) center/cover no-repeat;
    transition: .8s;
  }
  &__search {
    height: 50px;
    width: 500px;
  }
} 



// КАСТОМИЗАЦИЯ ВЫПАДАЮЩИХ МЕНЮШЕК


.dropdown-menu {
  @include desktop-s {
    padding: 0 0 10px 0;
  }
}

.dropdown-item {
  padding: 0;
  &:focus {
    background: transparent;
  }
}

.nav-link {
  &:focus {
    color: $red;
  }
}